
$nav_width = 16%
$border_radius = 6px
$border_radius_secondary = 4px
$btn_height = 44px
$btn_height_small = 40px
$input_height = 44px
$input_bottom = 30px

$p = 16px
$p2 = 24px
$p3 = 36px
$p4 = 48px

$font_sf_regular = "SFUI_REGULAR"
$font_sf_light = "SFUI_LIGHT"
$font_sf_medium = "SFUI_MEDIUM"
$font_sf_semibold = "SFUI_SEMIBOLD"
$font_sf_bold = "SFUI_BOLD"

$light = {
  bg_color: #ffffff,
  bg_color_secondary: #f9f9f9,
  border_color: #cccccc,
  box_shadow: rgba(0, 0, 0, 0.18),
  box_shadow_secondary: rgba(0, 0, 0, 0.18),
  text_color: #1a1a1a,
  text_color_secondary: #868686
  text_light_color: #ffffff,
  text_light_color_secondary: #e2e2e2,
  link_color: #051a56,
  btn: #efefef,
  btn_color: #731414,
  red: #fd6363, // #E65758,
  red_dark: #731414,
  // red_gradient: linear-gradient(310deg, #fd6363, #731414)
  red_gradient: linear-gradient(310deg, #bb4949, #731414)
}
