@import "../inc/_var.styl"
@import "../inc/_mixins.styl"

.theme-light
  .idev
    &-nav
      background-color: rgba(0, 0, 0, 0.74) // $light.bg_color_secondary
      color: #ffffff // $light.text_color
      support_blur(rgba(0, 0, 0, 0.44), 2em)
    &-content
      background-color: $light.bg_color
      box-shadow: 0 0 28px 6px $light.box_shadow
